@model MagicFileFiller.ViewModels.CreateFileViewModel

@{
    ViewBag.Title = "Create";
}

@helper DisplayErrorString(string ErrorString)
{
if (!String.IsNullOrWhiteSpace(ErrorString))
{
        <span class="field-validation-error text-danger">@ErrorString</span>
}
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>New File</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                
                <div class="form-group">
                    @Html.LabelFor(m => m.UploadFile, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UploadFile, new {type="File", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UploadFile, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" name ="TemplateFileViewModel_File"value="Upload" class="btn" />
                    </div>
                </div>
            </div>

        </div>

    </div>
}